.ItemAdder {
    width: 100%;
    height: 15%;
    /* display: inline; */
    margin: 0 !important;
}

.ItemAdderHeader {
    /* height: 5%;s */
    padding: 0 !important;
}

.ItemAdderRow {
    /* height: 5%; */
    padding: 0 !important;
}