.JobView {
    width: 100%;
    height: 60vh;
}

.JobViewRowUpper {
    width: 100%;
    height: 55vh;

    display: block;
    /* vertical-align: top; */
}

.JobViewRowLower {
    width: 100%;
    height: 5vh;

    /* overflow : auto; */
    display: block;
    /* vertical-align: top; */
}

.VerticalScale {
    width: 5%;
    height: 55vh;
    /* min-height: 70vh;
    max-height: 70vh; */

    margin: 0;
    padding: 0;
    background: #BBBBBB;
    /* display: block; */
}

.MainChart {
    width: 95%;
    height: 55vh;
    /* min-height: 70vh;
    max-height: 70vh; */

    margin: 0;
    padding: 0;
    background: #DDDDDD;
    /* display: block; */
}

.Corner {
    width: 5%;
    height: 5vh;
    /* overflow : auto; */

    background: #AAAAAA;
    /* display: block; */
}

.HorizontalScale {
    width: 95%;
    height: 5vh;

    background: #888888;
    /* display: block; */
}






