.JobView {
    width: 100%;
    height: 80%;

    margin: 0;
    padding: 0;
}

.JobViewRow {
    width: 100%;
    /* max-width: 100rem; */
    /* min-height: 90%;
    max-height: 90%; */
    /* height: max-content; */

    margin: 0;
    padding: 0;
    overflow : auto;
    display: block;
    /* vertical-align: top; */
}

.VerticalScale {
    width: 5%;
    min-height: 70vh;
    max-height: 70vh;

    margin: 0;
    padding: 0;
    background: #BBBBBB;
    /* display: block; */
}

.MainChart {
    width: 95%;
    min-height: 70vh;
    max-height: 70vh;

    margin: 0;
    padding: 0;
    background: #DDDDDD;
    /* display: block; */
}

.Corner {
    width: 5%;
    height: 5%;
    /* overflow : auto; */

    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    background: #AAAAAA;
    /* display: block; */
}

.HorizontalScale {
    width: 95%;
    height: 5%;
    /* overflow : auto; */

    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    background: #888888;
    /* display: block; */
}






